# dependencies
/node_modules
/_cacache
/_logs
/_update-notifier-last-checked

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log
*.tgz
.DS_Store

# tests
/coverage
/.nyc_output

# source
dist

# docs
.vitepress/cache
.vitepress/dist
docs-api
